@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Caveat&family=Lumanosimo&display=swap");

body {
  background-image: radial-gradient(
      at 79% 7%,
      hsla(239, 61%, 7%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 27% 49%,
      hsla(202, 35%, 26%, 0.62) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 62% 75%,
      hsla(159, 75%, 26%, 0.48) 0px,
      transparent 50%
    );
  background-color: #0f172a;
}

div {
  max-width: 1050px;
  margin: auto;
}

.first {
  font-size: 45px;
  text-align: center;
  font-family: "Cabin Sketch", cursive;
  color: white;
}
.second {
  font-size: 26px;
  font-family: "Lumanosimo", cursive;
  text-align: center;
  border-style: dashed;
  color: white;
  padding: 15px;
}
h1.first {
  font-size: 60px;
  text-align: center;
}
.third {
  max-width: 100vw;
  font-size: 23px;
  font-family: "Caveat", cursive;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-between;
}

.third img,
.fifth img {
  border-radius: 10px;
}

.third img:hover,
.fifth img:hover {
  transform: rotate3d(1, 1, 1, 360deg);
  transition: all 3s ease-in;
}

.fourth {
  font-size: 26px;
  font-family: "Lumanosimo", cursive;
  text-align: center;
  color: white;
}

.fifth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first h3 {
  margin-bottom: 12px;
}

.sixth {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.seventh {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

@media screen and (max-width: 1480px) {
  .third {
    flex-direction: column;
  }
  .fifth img {
    width: 350px;
    height: 500px;
  }
  #seventh {
    width: 600px;
    height: 450px;
  }
}
@media screen and (max-width: 355px) {
  .fifth img {
    width: 200px;
    height: 350px;
  }
}

@media screen and (max-width: 700px) {
  #seventh {
    width: 350px !important;
    height: 250px !important;
  }
  .second {
    font-size: 18px;
  }
  .third {
    font-size: 18px;
  }
}
